.App {
  background-color: #e3bc78;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.container-user h1 {
  text-align:  center;
color: #8c4600;
  padding: 20px;
}

.container .ui {
  border-radius: 15px;
  background-color: rgba(137, 137, 137 ,0.512);
  font-weight: bold !important;
}

.ui .extra {
  color: rgb(48, 9, 9)!important;
}
.header {
  color: #8c4600!important;
}